<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Me : 투약정보</title>
</head>

<body>
    <div>
        <div>
            <img href="#" aria-placeholder="약봉투">
        </div>
        
        <div>
            <div>날짜 <input type="date"> </div> 
            <div>병원이름 받아오기</div>
        </div>

        <button>사진 전체보기</button>
    </div>


</body>
</html>