<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Me</title>

    <link href="" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div>
        <h1>LightMe 로고</h1>

        <div>
            <form action="" method="post">
                <input type="text" name="" id="">
                <input type="password">
                <button>로그인</button>
            </form>
        </div>
        <div>
            <form>
                <input type="image" placeholder="구글">구글
                <input type="image" placeholder="카카오">카카오
                <input type="image" placeholder="네이버">네이버
                <input type="image" placeholder="애플">애플
            </form>
            <button onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=705c30edf23357e81154b48c80b9af44&redirect_uri=http://localhost:8080/user/login_kakao/callback&response_type=code'">카카오로 로그인하기 </button>
        </div>

    </div>
    
</body>
</html>
