<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <link href="style/common.css" rel="stylesheet" type="text/css" />
    <link href="style/login.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <link rel="instagram-icon" href="img/favicon.png">
</head>
<body>
    <div class="container">
        <img class="logo_instagram" src="img/logo_text.png" alt="instagram_logo">
        <input type="text" class="input_login" name="userID" id="userID" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="password" class="input_login" name="userPW" id="userPW" placeholder="비밀번호">
        <a href="#none"><button id="btn_login" disabled>로그인</button></a>
        <span class="button_forgot">비밀번호를 잊으셨나요?</span>
    </div>


    <h1>여기서 게시판으로 들어갈건지 출석체크만할건지 클릭</h1>

    <script src="js/login.js"></script>
</body>
</html>