<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="wrap">
        <div class="login">
            <h2>Log-in</h2>
           
            <div class="login_id">
                <h4>E-mail</h4>
                <input type="email" name="" id="" placeholder="이메일을 입력해주세요">
            </div>
            <div class="login_pw">
                <h4>Password</h4>
                <input type="password" name="" id="" placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="login_etc">
                <div class="checkbox">
                    <input type="checkbox" name="" id=""> 로그인 상태유지
                </div>
    
            </div>
            <div class="submit">
                <input type="submit" value="로그인">
            </div>
            <div class="login_etc">
                <div class="forgot_pw">
                    <a href="findUser.html">아이디 찾기</a>
                    <a href="findUser.html">비밀번호 찾기</a>
                </div>
            </div>
            <div class="login_sns">
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </div>
        </div>
    </div>
    
</body>
</html>
