<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정 : Light Me</title>
</head>

<body>
    <h1>회원정보 수정</h1>
    <form>
    아이디 :  연동내역
    이름 <input type="text"> <div></div>
    생년월일 성별 <input type="text"> <input type="checkbox"><div></div>
    휴대폰 <input type="text"><div></div>
    이메일 <input type="email"><div></div>

    <button>수정하기</button>
    </form>
</body>
</html>